gradio
matplotlib
diffusers
accelerate==0.27.2
warmup_scheduler
webdataset
tensorboardx
protobuf==3.20.0
tensorboard
torchmetrics
clean-fid
pynvml
open_clip_torch
datasets
skia-python
colorama
opencv-python
deepspeed==0.14.2